In [1]:
%load_ext autoreload
%autoreload 2
import json
import pandas as pd
import src.job_scrape_funcs as scrape
import src.analysis as ana

In [48]:
def job_pipeline(job_title, location, post_time, pages, save_path, resume_path):
    #TODO: try except statements
    # Scrape jobs:
    job_data = scrape.scrape_jobs(pages=pages, job_title=job_title, location=location, post_time=post_time)

    # Save:
    with open(save_path+".json", 'w', encoding='utf-8') as f:
        json.dump(job_data, f, ensure_ascii=False, indent=4)

    # Find matches:
    with open(save_path+".json", 'r', encoding="utf-8") as f:
        data = json.load(f)

    raw_df = pd.DataFrame(data["jobs"])
    df = ana.find_job_match(raw_df, resume_path)
    return df

In [ ]:
# Scrape job listings:
jobs = scrape.scrape_jobs(pages=2, job_title="Data Scientist", location="Chicago", post_time=5)

In [8]:
# Save to JSON:
with open("data/job_queries/job_data_test.json", 'w', encoding='utf-8') as f:
    json.dump(jobs, f, ensure_ascii=False, indent=4)

In [62]:
# Load JSON:
with open("data/job_queries/job_data_RS_4_4_25.json", 'r', encoding='utf-8') as f:
    jobs = json.load(f)

In [63]:
# Find job matches:
df = ana.find_job_match(pd.DataFrame(jobs["jobs"]), "data/resume.pdf")
df.head()

,title,company,link,posted time,description,location,embedding,similarity,keywords
5,Artificial Intelligence (AI) Developer,Milliman,https://www.linkedin.com/jobs/view/artificial-...,10 hours ago,"Architect, design, and develop both frontend a...","Chicago, IL","[-0.00022951358, -0.0051721088, -0.004923004, ...",0.980746,"{ , control, web, C, Engineering, vision, PyT..."
6,"Staff ML Scientist, AI Research & Development",Tempus AI,https://www.linkedin.com/jobs/view/staff-ml-sc...,1 day ago,Responsible for developing innovative and prac...,"Chicago, IL","[0.0007490111, -0.005170622, -0.0060592466, 0....",0.980656,"{Engineering, model, PyTorch, data, fusion, Py..."
2,"Senior Data Scientist, Full-time, Days",Northwestern Medicine,https://www.linkedin.com/jobs/view/senior-data...,3 days ago,Enabling digital solutions by leveraging capab...,"Chicago, IL","[-0.0017726187, -0.004099703, -0.0059827818, 0...",0.982061,"{Engineering, PhD, Institute, research, noise,..."
3,"Senior Data Scientist, Full-time, Days",Northwestern Memorial Hospital,https://www.linkedin.com/jobs/view/senior-data...,1 day ago,Enabling digital solutions by leveraging capab...,"Chicago, IL","[-0.0017726187, -0.004099703, -0.0059827818, 0...",0.982061,"{Engineering, PhD, Institute, research, noise,..."
10,AI Engineer,Thermo Fisher Scientific,https://www.linkedin.com/jobs/view/ai-engineer...,3 days ago,"Build AI Solutions: Develop predictive models,...","Chicago, IL","[-0.0021000896, -0.0075120647, -0.007281752, 0...",0.979088,"{summarization, methods, vision, PyTorch, AWS,..."

In [49]:
df = job_pipeline(job_title="Data Scientist", 
                  location="Chicago", 
                  post_time=10, 
                  pages=5,
                  save_path="data/job_queries/job_data_RS_4_4_25", 
                  resume_path="data/resume.pdf")
df.head()

10 scraped successfully.
20 scraped successfully.
30 scraped successfully.
40 scraped successfully.
50 scraped successfully.
Making sure all descriptions scraped...
Finished!

,title,company,link,posted time,description,location,embedding,similarity,keywords
8,Artificial Intelligence (AI) Developer,Milliman,https://www.linkedin.com/jobs/view/artificial-...,10 hours ago,"Architect, design, and develop both frontend a...","Chicago, IL","[-0.00022951358, -0.0051721088, -0.004923004, ...",0.980746,"{ , control, web, C, Engineering, vision, PyT..."
40,"Staff ML Scientist, AI Research & Development",Tempus AI,https://www.linkedin.com/jobs/view/staff-ml-sc...,1 day ago,Responsible for developing innovative and prac...,"Chicago, IL","[0.0007490111, -0.005170622, -0.0060592466, 0....",0.980656,"{Engineering, model, PyTorch, data, fusion, Py..."
1,"Senior Data Scientist, Full-time, Days",Northwestern Medicine,https://www.linkedin.com/jobs/view/senior-data...,3 days ago,Enabling digital solutions by leveraging capab...,"Chicago, IL","[-0.0017726187, -0.004099703, -0.0059827818, 0...",0.982061,"{Engineering, PhD, Institute, research, noise,..."
18,"Senior Data Scientist, Full-time, Days",Northwestern Memorial Hospital,https://www.linkedin.com/jobs/view/senior-data...,1 day ago,Enabling digital solutions by leveraging capab...,"Chicago, IL","[-0.0017726187, -0.004099703, -0.0059827818, 0...",0.982061,"{Engineering, PhD, Institute, research, noise,..."
31,AI Engineer,Thermo Fisher Scientific,https://www.linkedin.com/jobs/view/ai-engineer...,3 days ago,"Build AI Solutions: Develop predictive models,...","Chicago, IL","[-0.0021000896, -0.0075120647, -0.007281752, 0...",0.979088,"{summarization, methods, vision, PyTorch, AWS,..."