In [49]:
%load_ext autoreload
%autoreload 2
import json
import pandas as pd
import src.job_scrape_funcs as scrape
import src.analysis as ana

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [50]:
def job_pipeline(job_title, location, post_time, pages, save_path, resume_path):
    #TODO: try except statements
    # Scrape jobs:
    job_data = scrape.scrape_jobs(pages=pages, job_title=job_title, location=location, post_time=post_time)

    # Save:
    with open(save_path+".json", 'w', encoding='utf-8') as f:
        json.dump(job_data, f, ensure_ascii=False, indent=4)

    # Find matches:
    with open(save_path+".json", 'r', encoding="utf-8") as f:
        data = json.load(f)

    raw_df = pd.DataFrame(data["jobs"])
    df = ana.find_job_match(raw_df, resume_path)
    return df

In [ ]:
# Scrape job listings:
jobs = scrape.scrape_jobs(pages=2, job_title="Machine learning engineer", location="Chicago", post_time=30)

In [ ]:
# Save to JSON:
with open("data/job_data_4.json", 'w', encoding='utf-8') as f:
    json.dump(jobs, f, ensure_ascii=False, indent=4)

In [ ]:
# Find job matches:
df = ana.find_job_match("data/job_data_DS_4_3_25.json", "data/resume.pdf")
df.head()

In [51]:
df = job_pipeline(job_title="Research Scientist", 
                  location="Chicago", 
                  post_time=5, 
                  pages=1, 
                  save_path="data/job_queries/job_data_RS_4_3_25", 
                  resume_path="data/resume.pdf")
df.head()

10 scraped successfully.
Making sure all descriptions scraped...
Finished!

,title,company,link,posted time,description,location,embedding,similarity,keywords
0,R&D Chemist 3,Astrix,https://www.linkedin.com/jobs/view/r-d-chemist...,2 days ago,"Our client, a global leader in the Personal Ca...","Oak Brook, IL","[-9.119135e-05, -0.00628536, -0.006526963, 0.0...",0.964136,{}
1,Formulation Chemist,Astrix,https://www.linkedin.com/jobs/view/formulation...,1 hour ago,Our R&D/ Formulation Chemist position is a gre...,"Oak Brook, IL","[0.003081256, -0.006300571, -0.004313579, 0.01...",0.943157,{}
2,R & D Chemist 3,Zing Recruiting,https://www.linkedin.com/jobs/view/r-d-chemist...,1 day ago,Zing Recruiting has partnered with a top perso...,"Oak Brook, IL","[0.001191473, -0.0074385465, -0.0082926, 0.018...",0.960331,{}
3,Senior Food Scientist,Planet Forward,https://www.linkedin.com/jobs/view/senior-food...,4 days ago,"Title: Senior Food ScientistLocation: Chicago,...","Chicago, IL","[-0.0032431332, -0.0066428776, -0.0049773403, ...",0.962927,{Chicago}
4,Principal Researcher,The University of Chicago Booth School of Busi...,https://www.linkedin.com/jobs/view/principal-r...,4 days ago,DepartmentBooth Center for Applied Artificial ...,"Chicago, IL","[0.0015520444, -0.006789463, -0.0068284837, 0....",0.973816,{Chicago}